.cardStatusHubungan,
.cardKemajuanHubungan,
.cardDaftarInteraksi,
.cardJumlahInteraksi {
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  width: 500px;
  height: 300px;
}
.cardStatusHubungan p {
  text-align: center;
  font-size: 36px;
  font-weight: 500px;
  line-height: 10px;
}
.statusHubungan p {
  margin-left: 75px;
  font-size: 45px;
  font-weight: 600;
}
.statusHubungan {
  background-color: #c7f1fc;
  box-shadow: 0px 23px 9px rgba(3, 39, 48, 0.02),
    0px 13px 8px rgba(3, 39, 48, 0.08), 0px 6px 6px rgba(3, 39, 48, 0.13),
    0px 1px 3px rgba(3, 39, 48, 0.15), 0px 0px 0px rgba(3, 39, 48, 0.15);
  border-radius: 10px;
}

.cardStatusHubungan {
  background-image: url(../../../assets/Images/Status-hubungan-background.png);
  background-repeat: no-repeat;
}
.cardStatusHubungan img {
  margin: 2em 0.5em;
}
.mainContent {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 3em;
  column-gap: 3em;
}
.listInteraksi li {
  font-size: 25px;
  font-weight: 500;
}
.cardDaftarInteraksi {
  background-color: rgba(253, 209, 247, 0.1);
}
.cardDaftarInteraksi p {
  font-weight: bold;
  font-size: 30px;
}
.listInteraksi input {
  width: 25px;
  border-radius: 100px;
}
.yAxis h3 {
  color: #2e3f90;
  font-size: 16px;
  font-weight: 500;
}
.xAxis h3 {
  color: #454459;
  font-size: 16px;
  font-weight: 400;
}
.yAxis {
  line-height: 4.5em;
}
.yAxis .memburukBar {
  margin-bottom: 1em !important;
}
.bar {
  margin-top: 10em;
  margin-right: 2.5em;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
progress::-webkit-progress-value {
  background-color: #a08cfb !important;
  border-radius: 10px !important;
}
progress::-webkit-progress-bar {
  background-color: #b388eb57;
  border-radius: 10px !important;
}
progress::-moz-progress-bar {
  background-color: #b388eb57 !important;
}
progress {
  background-color: #b388eb57;
}

progress {
  border-radius: 10px !important;
}
.titleChard {
  color: #000000;
  margin-top: -0.3em;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 27px;
  text-align: center;
}
:root {
  --pure_white: 255, 255, 255;
  --pure_black: 0, 0, 0;
  --persian_red: 205, 51, 51;
  --grey-100: 214, 214, 214;
  --grey-300: 128, 128, 128;
  --cornflower_blue-800: 58, 75, 158;
  --cornflower_blue-600: 105, 123, 213;
  --sky_blue_crayola-100: 199, 241, 252;
  --sky_blue_crayola-200: 170, 235, 250;
  --sky_blue_crayola-500: 92, 193, 218;
}

.mainContent {
  display: grid;
  place-items: center;
  margin-top: auto;
}

.profile-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 2fr;
  row-gap: 2em;
  column-gap: 1em;
  background-color: rgba(var(--sky_blue_crayola-100), 0.7);
  padding: 30px;
  border-radius: 20px;
  width: 55vw;
  backdrop-filter: blur(5px);
}

.profile-contents {
  background-color: rgba(var(--pure_white));
  border-radius: 20px;
}

.foto-container {
  margin: 0;
  padding: 0;
}

.foto-container img {
  border-radius: 20px 20px 0 0;
  width: 380px;
}

#profile-section {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.profile_saya-container {
  padding: 0 20px;
}

.profile_saya-container h1 {
  font-size: 28px;
  margin-top: 0;
}

#form-profile-saya {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 1.5em;
  column-gap: 1em;
}

.input-form {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(var(--grey-100));
  font-size: 16px;
}

.input-form:active,
.input-form:focus {
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(var(--grey-100));
}

#email-profile {
  grid-column-start: 1;
  grid-column-end: 3;
}

#simpan-button {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: rgba(var(--sky_blue_crayola-500));
  color: rgba(var(--pure_white));
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1em;
}

#jam_istirahat-section {
  padding: 0 20px;
}

#jam_istirahat-section h3 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#jam_istirahat {
  display: flex;
  justify-content: center;
}

#jam_istirahat p,
#jam_istirahat input {
  width: 44px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  outline: none;
  font-size: 32px;
}

#pengaturan-section {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  align-items: flex-start;
}

#pengaturan-section h3 {
  font-size: 28px;
  margin-bottom: 0;
  margin-top: 30px;
}

.notif-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notif-container p {
  font-size: 24px;
  margin: 0;
}

#pengaturan-section button {
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  display: block;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: rgba(var(--persian_red));
  padding: 0;
}
