:root {
  --pure_white: 255, 255, 255;
  --pure_black: 0, 0, 0;
  --grey-100: 214, 214, 214;
  --grey-300: 128, 128, 128;
  --cornflower_blue-800: 58, 75, 158;
  --cornflower_blue-600: 105, 123, 213;
  --sky_blue_crayola-200: 170, 235, 250;
}

.sidebar {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 350px;
  height: 100%;
  border-right: 1px solid rgba(var(--grey-100));
  background-color: rgba(var(--pure_white));
}

.sidebarFitur {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 2em;
  padding: 1.3em 0.5em;
}

.sidebarFitur::-webkit-scrollbar {
  display: none;
}

#closeSidebar {
  display: none;
}

.iconFiturSidebar {
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 1.9em;
  padding: 0 2em;
  font-weight: 500;
  font-size: 24px;
  color: rgba(var(--grey-300));
  transition: all 300ms ease-in-out;
}

.iconFiturSidebar p {
  margin: 0;
  padding: 20px 0;
}

.iconFiturSidebar:hover {
  cursor: pointer;
  color: rgba(var(--cornflower_blue-800));
}

.sidebarFitur-active {
  color: rgba(var(--pure_white));
  background-color: rgba(var(--cornflower_blue-600));
}

.logo {
  position: sticky;
  top: 0;
  padding: 16px 0 10px 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.profileName {
  position: sticky;
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: rgb(var(--pure_white));
  border-top: 1px solid rgb(var(--grey-100));
  padding: 0.3em;
  margin: 0;
  margin-top: auto;
}

#profile-background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
  width: 250px;
  height: 65px;
  color: rgba(var(--pure_black));
  font-weight: 500;
  font-size: 24px;
  border-radius: 20px;
  transition: all 250ms ease-in-out;
}

#profile-background:hover {
  background-color: rgb(var(--sky_blue_crayola-200));
}

#profile-background img {
  margin-right: 1.5em;
  width: 50px;
}

#profile-background p {
  padding: 0;
  margin: 0;
}

.profileActive {
  border-radius: 20px;
  background-color: rgb(var(--sky_blue_crayola-200));
}