.sidebar {
  padding: 3em 2em;
  width: 300px;
  height: 100%;
  border-right: 1px solid #d6d6d6;
}
.sidebarFitur {
  margin: 0 0.5em;
  color: rgba(128, 128, 128, 1);
  font-weight: 500;
  font-size: 28px;
}
.sidebarFitur p {
  margin-left: 1em;
}
.sidebarFitur div {
  border-radius: 15px;
  display: flex;
  padding: 0 1em;
}
.sidebarFitur div:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(105, 123, 213, 1);
}
.logo {
  margin: 0 21%;
}
.titleLogo {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  margin-top: -1px;
}

.profileName div {
  display: flex;
  margin: 1.5em;
  color: rgba(0, 0, 0, 1);
  font-size: 17px;
}
.profileName img {
  margin-right: 2em;
}
