:root {
  --pure_white: 255, 255, 255;
  --grey-100: 214, 214, 214;
  --grey-300: 128, 128, 128;
  --cornflower_blue-800: 58, 75, 158;
  --cornflower_blue-600: 105, 123, 213;
  --sky_blue_crayola-200: 170, 235, 250;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 100vh;
  overflow: hidden;
  border-right: 1px solid rgb(var(--grey-100));
}

.sidebarFitur {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 1em;
  color: rgba(128, 128, 128, 1);
  font-weight: 500;
  font-size: 28px;
  padding: 0.5em 0;
}

.sidebarFitur::-webkit-scrollbar {
  display: none;
}

#closeSidebar {
  display: none;
}

.iconFiturSidebar {
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 1.9em;
  margin: 0 1em;
  padding: 0.079em 1em;
  transition: all 300ms ease-in-out;
}

.iconFiturSidebar>svg:hover,
.iconFiturSidebar:hover {
  cursor: pointer;
  color: rgb(var(--cornflower_blue-800));
  fill: rgb(var(--cornflower_blue-800));
}

.buttonActive {
  background-color: rgb(var(--cornflower_blue-600));
  color: rgb(var(--pure_white));
  fill: rgb(var(--pure_white));
}

.logo {
  position: sticky;
  top: 0;
  padding: 24px 0;
  background-color: rgb(var(--pure_white));
  display: flex;
  justify-content: center;
}

.profileName {
  position: sticky;
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: rgb(var(--pure_white));
  border-top: 1px solid rgb(var(--grey-100));
  padding: 0.5em;
  margin: 0;
}

.profileName div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding-left: 1em;
  width: 310px;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 28px;
}

.profileActive {
  border-radius: 20px;
  background-color: rgb(var(--sky_blue_crayola-200));
}