:root {
  --pure_white: 255, 255, 255;
  --grey-100: 214, 214, 214;
  --grey-300: 128, 128, 128;
  --cornflower_blue-800: 58, 75, 158;
  --cornflower_blue-600: 105, 123, 213;
  --sky_blue_crayola-200: 170, 235, 250;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

.hamburgerIcon {
  display: none;
}

/* Responsive */
@media only screen and (max-width: 720px) {
  .hamburgerIcon {
    display: block;
    margin-top: 1em;
  }

  .hamburgerIcon:hover {
    cursor: pointer;
  }

  .sidebar {
    display: none;
  }

  .closeSidebar {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    margin-bottom: 2em;
  }

  #closeSidebar {
    display: block;
    width: 30px;
    height: 30px;
    right: 0;
    margin-left: 1em;
    margin-top: -2em;
  }

  .closeSidebar :hover {
    cursor: pointer;
  }

  .closeSidebar {
    right: 0;
  }

  .sidebar {
    background-color: rgb(var(--cornflower_blue-600));
    height: 100%;
    width: 85%;
    z-index: 100;
    position: fixed;
    padding: 3em 0;
    border-right: 1px solid rgb(var(--grey-100));
  }

  .logo img {
    width: 125px;
    height: 100px;
  }

  .profileName {
    display: none;
  }

  .logo {
    background-color: transparent;
  }

  .iconFiturSidebar p {
    font-size: 16px;
  }

  .iconFiturSidebar svg {
    width: 20px;
  }

  .profileOnMobileWidth {
    display: block;
  }
}