
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

.profileContentRightSide {
  background-image: url(./assets/Images/Background-profile-page.png);
  background-position: 100% -10%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

/* Responsive */
@media only screen and (max-width: 720px) {
  .hamburgerIcon {
    display: block;
  }
  .hamburgerIcon :hover {
    cursor: pointer;
  }

  .sectionTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2em;
  }

  .sidebar {
    display: none;
  }
  .closeSidebar {
    display: flex;
    justify-content: end;
    margin-right: 1em;
    margin-bottom: 2em;
  }
  #closeSidebar {
    display: block;
    width: 30px;
    height: 30px;
    right: 0;
    margin-left: 1em;
    margin-top: -2em;
  }
  .closeSidebar :hover {
    cursor: pointer;
  }
  .closeSidebar {
    right: 0;
  }
  .sidebar {
    background-color: rgb(239, 245, 251);
    height: 100%;
    width: 50%;
    z-index: 100;
    position: fixed;
    padding: 3em 0;
  }
  .logo img {
    width: 125px;
    height: 100px;
  }
  .profileName {
    display: none;
  }
  .logo {
    margin: 0 7em;
  }
  .iconFiturSidebar img {
    width: 25px;
  }
  .iconFiturSidebar p {
    font-size: 25px;
  }

  .profileOnMobileWidth {
    display: block;
  }

  .mainContent {
    display: grid;
    grid-template-columns: repeat(1, auto);
    column-gap: 3em;
  }
}
