:root {
  --pure_white: 255, 255, 255;
  --pure_black: 0, 0, 0;
  --persian_red: 205, 51, 51;
  --grey-100: 214, 214, 214;
  --grey-300: 128, 128, 128;
  --cornflower_blue-800: 58, 75, 158;
  --cornflower_blue-600: 105, 123, 213;
  --sky_blue_crayola-100: 199, 241, 252;
  --sky_blue_crayola-200: 170, 235, 250;
  --sky_blue_crayola-500: 92, 193, 218;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

a {
  text-decoration: none;
}

#sidebar-navbar-page {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

#profile-page {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.profileContentRightSide {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/Images/Background-profile-page.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 100vw;
}

.contentRightSide {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.mainContent {
  display: grid;
  place-items: center;
  height: 100%;
  padding-left: 350px;
}

/* Responsive */

@media only screen and (max-width: 426px) {
  #form-profile-saya {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 2em;
    column-gap: 0;
  }

  #email-profile {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

@media only screen and (max-width: 768px) {
  .mainContent {
    place-items: start;
  }

  .profile-container {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 0.25fr 0.5fr;
    column-gap: 0;
    height: 100%;
  }

  #profile-section {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #pengaturan-section button {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1087px) {
  .sectionProfile {
    display: block;
  }
  .mainContent {
    display: grid;
    grid-template-columns: repeat(1, auto);
    column-gap: 3em;
  }
  .welcomText {
    display: none;
  }
  .notif {
    margin: 5px 15px;
  }
  .hamburgerIcon {
    display: block;
  }

  .hamburgerIcon:hover {
    cursor: pointer;
  }

  .sectionTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background-color: rgba(var(--pure_white));
    border-bottom: 1px solid rgba(var(--grey-100));
  }

  .sidebar {
    display: none;
  }

  .logo {
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }

  .closeSidebar {
    display: flex;
    justify-content: flex-end;
    right: 0;
  }

  #closeSidebar {
    display: block;
    width: 30px;
    height: 30px;
    right: 0;
    margin-left: 1em;
  }

  .closeSidebar:hover {
    cursor: pointer;
  }

  .sidebar {
    background-color: rgba(var(--pure_white));
    height: 100%;
    z-index: 100;
    position: fixed;
  }

  .profileName {
    display: none;
  }

  .iconFiturSidebar svg {
    width: 25px;
  }

  .iconFiturSidebar p {
    font-size: 25px;
  }

  .profileOnMobileWidth {
    display: block;
  }

  .profile-container {
    width: 100%;
    border-radius: 0;
    padding: 0;
    row-gap: 0;
    column-gap: 0;
  }

  .profile-contents {
    margin: 20px;
  }

  .mainContent {
    padding-left: 0;
  }
}
